*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/valkyrie_settings.xml
/.idea/artifacts
/.idea/inspectionProfiles/Project_Default.xml
/.idea/gradle.xml
/.idea/xcode.xml
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.trae
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
/iosApp/iosApp.xcodeproj/xcuserdata
